.pop-up {
    display: none;
    position: fixed;
    top: calc(50% - 185px);
    left: calc(50% - 215px);
}

@media screen and (max-width: 520px) {

    .pop-up {
        width: 100vw;
        left: 0;
        top: 40px;
    }
  
  }