.header {
    display: flex;
    margin: auto;
    justify-content: flex-start;
    max-width: 882px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 630px) {

    .header {
        width: 100wh;
    }
  
  }