.pop-up__form {
    position: fixed;
    top: calc(50% - 165px);
    left: calc(50% - 215px);
    width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
}