.pop-up__form {
    width: 430px;
    background-color: white;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 630px) {

    .pop-up__form {
        width: calc(100vw - 30px);
    }
  
  }