.profile__profile-info {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 920px) {

    .profile__profile-info {
        text-align: center;
        justify-content: center;
    }
  
  }