.pop-up__close-button {
    width: 36px;
    height: 36px;
    position: relative;
    left: 430px;
    top: 0px;
    background-image: url(../../../mesto-images/CloseIcon.svg);
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

.pop-up__close-button:hover {
    opacity: 60%;
}

@media screen and (max-width: 630px) {

    .pop-up__close-button {
        left: calc(50% - 30px);
        top: -10px;
    }
  
  }