.pop-up__form-item {
    margin: 0;
    padding: 0;
    width: 358px;
    height: 43px;
    margin-left: 36px;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.2;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.pop-up__form-item:nth-child(3){
    margin-top: 16px;
}   

@media screen and (max-width: 520px) {

    .pop-up__form-item {
        margin: auto;
        width: calc(100vw - 30px);
    }
  
  }