.places-list__item {
    width: 282px;
    height: 361px;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;

}